.header {
	grid-area: header;
	display: flex;
	align-items: center;

	&__hero-img {
		background: url('../img/julius-caesar.png');
		background-position: top;
		width: 100%;
		height: 100vh;
		z-index: -1;
		display: none;

		@media (min-width: map-get($dimensions, min-width)) {
			display: block;
		}
	}

	&__hero-text {
		display: grid;
		grid-template-columns: 16px auto;
		grid-template-areas: "first second";
		color: var(--header-text-color);
		font-family: map-get($fonts, ff-header);
		font-size: 10vh;
		margin: 0;
	}

	&__first-word {
		grid-area: first;
		width: 0;
		word-wrap: break-word;
	}

	&__second-word {
		grid-area: second;
		word-wrap: normal;
		letter-spacing: calc(10vh / 2);
		margin-left: calc(10vh - 8px);
		width: 0;
		align-self: end;
	}
}
